{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Available Services</h1>
    <div class="row">
        {% for service in services %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ service.name }}</h5>
                        <p class="card-text">{{ service.description }}</p>
                        <a href="{% url 'appointment_create' service.id %}" class="btn btn-primary">Book Appointment</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
