{% extends "core/base.html" %}

{% block title %}Home - Nail Shop{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Nail Shop Center </h1>
    <p class="lead">Manage your bookings, services, and notifications with ease.</p>
    <hr class="my-4">
    <p>Explore the features we offer to digitize your nail salon business!</p>
    <a class="btn btn-primary btn-lg" href="{% url 'bookings:booking_list' %}" role="button">View Bookings</a>
</div>
{% endblock %}
